.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f8f9fa; 
    z-index: 1000; 
    border-bottom: 1px solid #e7e7e7; 
    padding: 15px; 
}
  
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
  
.navbar-links {
    display: flex;
    gap: 20px; 
}
  
.navbar-links,
  .navbar-price {
    flex: 1; 
}
  
.navbar-cart a {
    margin-left: 10px;
}

.navbar-right {
  justify-content: right;
  margin-right: 20px;
  padding-right: 20px;
}

  
  